{% extends "base/homepage.html" %}


{% block energy_meter %}
<h2>New record:</h2>

<div>
    <form action="{% url "energy_meter_base" %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
    <br><br>
  </div>

    <p>Consumption from first record: {{ consumed }} kW</p>
    <p>Number of days since the first record: {{ number_of_days }}</p>
    <p>Average consumption is {{ avg_consumption }} kW per day</p>
    <p>So, approximately {{ price_per_month }} Kč per month. (The price is set up wrong - higher for whole project)</p><br>


    <img src="data:image/png;base64, {{ chart_consumption.chart|safe }}">


<p>data for chart</p>
    <p>list of periods: {{ chart_consumption.periods }}</p>
    <p>avg consumption in period per day: {{ chart_consumption.avg_consumption_in_period_per_day }}</p>
    <p>days_between_measuring: {{ chart_consumption.days_between_measuring }}</p>
    <p>values_lst: {{ chart_consumption.values_lst }} - number of values: {{ chart_consumption.number_of_values }}</p>
    <p>kw in period: {{ chart_consumption.kw_in_period }}</p>

<span>
  <h2>Records:</h2>
    {% for value in records %}
      <p>{{ value }} | <a href="{% url "delete_record" value.id %}">Delete</a></p>
    {% endfor %}
</span>
<span>

  {% for value in all_in_one %}
    <p>{{ value }}</p>
  {% endfor %}

</span>
{% endblock energy_meter %}



